# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# VS Code
.vscode/
.history/

# Build output
dist/
build/
out/
coverage/

# Misc
*.local
*.sublime-workspace
*.sublime-project